#invoke>=2.0
invoke @ git+https://github.com/pyinvoke/invoke@main
invocations>=3.0
semantic_version>=2.4,<2.5
releases>=2
flake8==3.6.0
black==19.10b0

# Install ourselves direct, even when being used on eg RTD. Otherwise we can't
# dogfood our own changes until release to PyPI.
-e .
