{% if theme_logo %}
<p class="logo">
  <a href="{{ pathto(master_doc) }}">
    <img class="logo" src="{{ pathto(theme_logo, 1) }}" alt="Logo"/>
  </a>
</p>
{% endif %}

{% if theme_github_button|lower == 'true' %}
<p>
<iframe src="http://ghbtns.com/github-btn.html?user={{ theme_github_user }}&repo={{ theme_github_repo }}&type={{ theme_github_type }}&count={{ theme_github_count }}&size=large"
  allowtransparency="true" frameborder="0" scrolling="0" width="200px" height="35px"></iframe>
</p>
{% endif %}

{% if theme_description %}
<p>{{ theme_description }}</p>
{% endif %}

{% if theme_gittip_user %}
<h3>Donate</h3>
<p>
Consider supporting the authors on <a href="https://www.gittip.com/">Gittip</a>:
<iframe style="border: 0; margin: 5px 0 -5px 0; padding: 0;"
   src="https://www.gittip.com/{{ theme_gittip_user }}/widget.html"
   width="48pt" height="20pt"></iframe>
</p>
{% endif %}
